* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Home page */
     .Home-body {
            
            background: white;
            margin-left: 0px;
            margin-right: 0px;
            font: 300 24px/1.5 Lato, sans-serif;

        }

        .container {
            display: flex;

        }

        .box1 {
            flex-direction: column;
            width: 420px;
            height: 280px;
            position: absolute;
            align-items: flex-start;
            overflow: hidden;
            top: 10%;

        }

        .box {
            border-left: 5px solid;
            background-color: #ffd73e33;
            margin: 20px;
            color: black;
            display: flex;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
                rgba(17, 17, 26, 0.1) 0px 8px 24px,
                rgba(17, 17, 26, 0.1) 0px 16px 48px;

        }

        .box2 {
            width: 420px;
            height: 300px;
            position: absolute;
            top: 50%;
        }

        .box3 {
            flex-direction: column;
            width: 550px;
            height: 585px;
            position: absolute;
            left: 31.7%;
            top: 10%;
        }

        .box4 {
            flex-direction: column;
            width: 420px;
            height: 280px;
            position: absolute;
            left: 71.2%;
            top: 6.5%;
        }

        .box5 {
            flex-direction: column;
            width: 420px;
            height: 280px;
            position: absolute;
            top: 46.5%;
            left: 71.2%;
        }

        .box-margin {
            font-size: 25px;
        }

        .heading {
            margin-top: 10px;
            margin-bottom: 10px;
            background: none;
            color: black;
            text-align: center;
            font-size: 25px;

        }

        .navbar {
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
            font-size: 28px;
        }

        .navbar .nav-a {
            padding: 10 10 10 10;
            text-decoration: none;

        }

        .nav-a {
            margin: 20px;
        }

        .footer {
            position: fixed;
            left: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            bottom: 0;
            width: 100%;
            font-size: 20px;
            color: white;
            text-align: center;
            background-color: black;
        }

        .link-a {
            text-decoration: none;
        }

        .link-a:link {
            color: red;
        }

        .link-a:visited {
            color: blue;
        }

        .link-a:hover {
            color: red;
        }

        .link-a:active {
            color: pink;
        }

        .Home-button {
            border: none;
            cursor: pointer;
            background: none;
            outline: none;
        }

        .Home-button:hover {
            color: red;
        }

        .Home-input {
            padding: 8%;
            margin-top: 8%;
            margin-bottom: 8%;
            outline: 1px solid black;
            border: 0;

        }

        .Home-text {
            width: 200%;

        }

        .Home-text:hover {
            outline: none;
            border-bottom: 1px solid black;
        }

        .Home-reset {
            float: right;
        }

        .s {
            cursor: pointer;
            color: white;
            background: black;
            padding: 6px 12px 6px 12px;
            border: 0;
            margin-top: 10px;
        }

        .Home-submit {
            float: left;
        }

        .s:hover {
            background-color: blue;
            color: white;
            outline: none;
        }

        .Login {
            padding-left: 50px;
        }

        .h3-l {
            background: none;
            color: black;
            font-size: 25px;
            margin-top: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .Home-ol,
        .Home-ul {
            line-height: 30px;
            color: black;
            margin-left: 10%;
            margin-right: 5%;
            font-weight: 400;
        }

        #continue {
            text-overflow: ellipsis;
            margin-top: 20px;
            margin-right: 20px;
            font-size: 1.5rem;
            color: black;
            float: right;
        }

        .content{
            color: blue;
        }

        #continue:hover {
            margin-right: 25px;
        }


        @media only screen and (max-width:480px) {

            /* For mobile phones: */
            .Home-body {
                margin-left: 20px;
                margin-right: 20px;
            }

            .container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin-bottom: 50px;
            }

            .container>.box1,
            .box2,
            .box3,
            .box4,
            .box5 {
               margin-left: 0;
               margin-right: 0;
                position: relative;
                border-left: 5px solid;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                display: flex;
                box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
            }

            .Home-ol,
        .Home-ul {
            margin-bottom: 20px;
        }

            .navbar {
                width: auto;
                margin: 0;
                font-size: 18px;
            }

            .navbar .nav-a {
                padding: 8 8 8 8;
            }

            .nav-a {
                margin: 2px;
            }

             .Home-text {
            width: auto;

        }
        #continue {
            margin-top: -10px;
            margin-bottom: 20px;
        }

        }
    
    /* End Home page */

    /* Forget password */

        .forget-body{
        margin: 0 300px  0 300px;
    }
    .forget-form{
        width: 100%;
        height: 400px;
        background: #ffd73e33;
        text-align: center;
        margin-top: 100;
        padding: 0;
    }

    .forget-input{
        margin-top: 175px;
        padding: 15px;
        outline: none;
        border: none;
        font-size: 15px;
    }

    .forget-text:hover{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid black;
    }

    .forget-submit{
        margin-left: 30px;
        padding: 15px 20px 15px 20px;
        background-color: black;
        color: white;
    }

    .forget-submit:hover{
        background-color: blue;
        color: white;
    }

    .forget-h1 {
        margin-top: 40px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    }

  @media only screen and (max-width:1062px) {
      .forget-body{
        margin: 0 200px  0 200px;
    }
    .forget-form{
        height: 350px;
        
    }

    .forget-input{
        margin-top: 150px;
    }
  }

    /* End Forget password */

    /* Pay your bills */

    .Pay-body {
        margin: 80px 200px 20px 200px;
        background: #ffd73e33;
    }

    .dropdown-container #Pay-select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Safari, Chrome, Opera */
        -webkit-appearance: none;
        overflow: hidden;
        width: 100%;
    }

    .dropdown-container #Pay-select:hover {
        /* for Firefox */
        -moz-appearance: unset;
        /* for Safari, Chrome, Opera */
        -webkit-appearance: none;
    }

    /* for IE10 */
    .dropdown-container #Pay-select::-ms-expand {
        display: none;
    }

    .dropdown-container #Pay-select,
    #cNumber {
        outline: 1px solid rgba(128, 128, 128, 0.37);
        border: none;
        padding: 20px;
    }

    #Pay {
        border: 5px solid black;
        border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
        height: 500px;
        width: 100%;
        background: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
            rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 48px;
    }

    .Pay-form {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 125px;

    }

    #Pay-submit {
        margin: 20px 0px 0px 0px;
        outline: none;
        border: none;
        cursor: pointer;
        color: white;
        background: black;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #Pay-submit:hover {
        background-color: blue;
        color: white;

    }

    .Pay-h1 {
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    /* End Pay your bills */

    /* New connection */

        .nConnection-body {
        margin: 30 100 30 100;
    }

    sup {
        color: red;
    }

    .newCone {
        border: 5px solid black;
        background: #ffd73e33;
        border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
        width: 60%;
        color: blue;
        width: 100%;
        margin-top: 30px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
            rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 48px;

    }

    .nConnection-form {
        margin: 20px 0px 0px 50px;
    }

    .nConnection-text {
        margin-left: 20px;
        outline: none;
        margin-top: 10px;
    }

    .nConnection-button {
        margin-left: 105px;
        margin-top: 10px;
        background: none;
        border: none;
        outline: none;
        background-color: black;
        color: white;
    }

    .nConnection-submit {
        background: none;
        border: none;
        outline: none;
        border-radius: 4px;
        background-color: black;
        color: white;
        padding: 5 10 5 10;
        margin-top: 10px;
        margin-bottom: 25px;
        font-size: 18px;
        text-transform: uppercase;
    }


    .nConnection-button:hover, .nConnection-submit:hover {
        background-color: blue;
        color: white;
    }

    .nConnection-select {
        margin-left: 45px;
        outline: none;
        margin-top: 10px;
    }

    .nConnection-text,
    .nConnection-button,
    .nConnection-select {
        padding: 5px 5px 5px 5px;
    }


    .nConnection-h1 {
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .nConnection-h3 {
        color: black;
    }

    #hforName,
    #applicantName {
        text-transform: uppercase;
    }

    /* End New connection */

        .faq-body {
        line-height: 2;
        margin: 20px;
        background: white;
    }

    .faq-div{
        background: #ffd73e33;
    }

    .faq-ul,.h3, .h4{
        margin-left: 30px;
    }


    /* End High Consuption States */

    .cs-body{
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    .cs-table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        background: #ffd73e33;
        width: 100%;

    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .cs-tr:hover {
        background-color: black;
        color: white;
    }

    .cs-caption{
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
    }

    /* End High Consuption States */
    
    /* Nearest Services */

        .nServices-body{
        margin: 50px;
    }

    .nServices-div{
        width: 100%;
        background: #ffd73e33;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: rgba(90, 90, 131, 0.1) 0px 1px 0px,
            rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 48px;

    }

     .nServices-li, .nServices-ul, .nServices-h3{
        margin-left: 50px;
        margin-top: 15px;
        text-decoration: none;
    }

    .nServices-ul{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .nServices-h1 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    /* End Nearest Services */

    .log-in-body{
            text-align: center;
            margin-top: 300px;
        }

    .cUs-div{
            background-color:  #ffd73e33;
            margin-left: 30%;
            margin-right: 30%;
            padding: 20px;
        }

        #fname, #subject, #emailId, #mNumber{
            width: 100%;
            padding: 12px;
            border: none;
            outline: none;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

         #cUsSubmit{
            cursor: pointer;
            color: white;
            background: black;
            padding: 8px 15px 8px 15px;
            border: 0;
            margin-top: 10px;
        }

        #cUsSubmit:hover {
            background-color: blue;
            color: white;
            outline: none;
        }